@charset "utf-8";
/* CSS General */
body {
	background-color: #666666;
	padding: 0% 10% 0% 10%;
	margin: 0%;
	color: #000066;
}
a {
	text-decoration: none;
	color: #834231;
}
a:hover {
	color: #555555;
}
h1 {
	margin-top: 5px;
	margin-bottom: 0px;
}
h2 {
	border-bottom: solid 2px #888888;
	text-align: right;
}
#cadre {
	background-color: #ffffff;
	border-right: solid 3px #000000;
	border-left: solid 3px #000000;
}
.clear {
	clear: both;
}
/* header */
.header {
	padding-left: 15%;
	background-color: #ffc354;
	position: fixed;
	left: 0px;
	width: 100%;
	z-index: 1;
	border-bottom: solid 2px #000000;
	height: 120px;
}
.header img, .header span {
	vertical-align: middle;
	display: inline-block;
}
#nom-logo {
	font-size: x-large;
}
/* logo */
#logo {
	margin-right: 10px;
	background-image: url(logo.png);
	background-position: 50% 50%;
	background-size: cover;
	width: 100px;
	height: 100px;
	background-color: #FFF;
	border-radius: 100%;
	border: solid 2px #000000;
	float: left;
}
/* body */
.body {
	padding: 130px 5% 0% 5%;
}
.left, .right {
	padding: 10px;
	float: left;
}
.left {
	width: calc(33% - 20px);
}
.right {
	border-left: solid 2px #888888;
	width: calc(66% - 20px);
}
/* CSS Contact */
.input_contact {
	width: 50%;
	margin: auto;
}
input[type=text], input[type=email], input[type=url], textarea {
	border-radius: 5px;
	background-color: #ffc354;
	width: 100%;
}
textarea {
	height: 150px;
}
.bouton {
	text-align: center;
}
/* Engrenage JQuery */
.cache_engrenage {
	margin-bottom:-70px;
	background-color:#FFF;
	height: 25px;
	position: relative;
	top: -50px;
}
#engr1, #engr4, #engr5 {
	background-image: url(engr.png);
	background-position: 50% 50%;
	background-size: cover;
	position: fixed;
}
#engr6, #engr7, #engr8, #engr9 {
	background-image: url(engr.png);
	background-size: 50px 50px;
	background-size: cover;
	position: relative;
	top: -47px;
	left: -3px;
	width: 50px;
	height: 50px;
	margin-bottom: -20px;
}
#engr1 {
	width: 250px;
	height: 250px;
	left: -125px;
	top: -125px;
	z-index: -3;
}
#engr4 {
	top: -68px;
	right: 55px;
	width: 100px;
	height: 100px;
}
#engr5 {
	top: -35px;
	right: 12px;
	width: 50px;
	height: 50px;
}
/* media query */
/* Print */
@media print {
	#menu, #footer, aside {
	  display:none;
	}
	body {
	  font-size:120%;
	  color:black;
	}
  }
  /* responsive */
@media screen and (max-width: 1090px) {
	#engr4 {
		display: none;
	}
	#engr5 {
		top: -68px;
		width: 100px;
		height: 100px;
	}
}
@media screen and (max-width: 1040px) {
	#engr5, #engr9, #engr7, #engr6, #engr8 {
		display: none;
	}
	.cache_engrenage {
		margin-bottom:-40px;
		top: -20px;
	}
}
@media screen and (max-width: 950px) {
	h1 {
		font-size : x-large;
	}
	.left, .right {
		float:none;
	}
	.left {
		width: calc(100% - 20px);
	}
	.right {
		border-left: none;
		width: calc(100% - 20px);
	}

}
@media screen and (max-width: 750px) {
	#engr1 {
		display: none;
	}
	.header {
		padding-left: 3%;
	}
}
@media screen and (max-width: 640px) {
	body {
		padding: 0;
	}
	#cadre {
		border: none;
	}
	h1 {
		font-size : large;
	}

}